$blueColor: #4c82af;
$whiteColor: #fff;
$blackColor: #2b2b2b;
$redColor: #af4c4c;
$goldColor: #f1ee41;
$orangeColor: #f1d03f;
$shadowColor: #c2c2c2;
$yellowColor: #f8f8f8;
$violetColor: #694769;
$sandColor: #ffe683;

$redColorTransparent: #af4c4ccc;
$blackColorTransparent: #2b2b2be5;